.best {
    background-image: url('./../img/stats-back.png');
    padding: 40px 0;
}

.elements {
    &:extend(.g-row);
}

.item {
    &:extend(.g-col);
    .size(12, 4, 15px);

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: fade(@color_blue_dark, 70%);
    

    h3 , a {
        padding: 20px 0;
    }

    a {
        margin-top: auto;
        align-self: center;
        text-decoration: none;
        color: @color_berezovyi;
    }
}